<%= form_for(@prelaunch) do |f| %>
  <% if @prelaunch.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>Votre email n'est pas valide</h4>
    </div>
  <% end %>
  <%= f.hidden_field :ref, :value => @ref %>
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group col-md-8">
      <%= f.text_field :email, class: "form-control", placeholder: "Saisissez votre email", required: true %>
    </div>
    <div class="actions col-md-4">
      <%= f.submit "Rester Privilégié", class: "btn btn-primary" %>
    </div>
  </div>
  <div class="col-md-3"></div>
<% end %>
