<!-- Modal -->
<div class="modal fade" id="myModaltwo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Il suffit d'un clic</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <%= image_tag("kanye.gif", width: '400', height: '262') %><br><br>
          Soit l'ami qui fait découvrir les trucs cools ;) <br><br>
          <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.lasmartphonerie.com%2F?prenom=Gwen&layout=button&size=large&mobile_iframe=true&appId=589490407729226&width=90&height=28&locale=fr_FR" width="90" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

          <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Hello ! Venez découvrir Switchiz" data-url="http://www.lasmartphonerie.com/?ref=<%= @code %>" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</div>