<!-- Header -->
<header id="" class="header-landing">
    <div class="container text-center">
    	<%= image_tag "logo.png", :class => "logo", :size => "175x123" %><br><br><br><br><br><br><br><br><br>
	</div>

<%= render 'modalone' %>
</header>

<section class="section-landing">
	<h1 class="header-first-text">Hello <%= @n %> !</h1>
	<h2 class="header-next-text">L'aventure Switchiz commence bientôt !</h2>
	<div class="col-md-12 text-center">
		<i class="fa fa-key fa-2x" aria-hidden="true"></i>
	</div>
	<h2>Fais partie des premiers au courant ;)</h2>
	<%= render 'form' %>

	<div class="col-md-12 text-center">
		<p>Copyright 2016 - gwenael@switchiz.co</p>
	</div>
</section>


<!--
<script type="text/javascript">
	
	mixpanel.track("Prelaunch homepage");

	function addEvent(obj, evt, fn) {
    if (obj.addEventListener) {
        obj.addEventListener(evt, fn, false);
    }
    else if (obj.attachEvent) {
        obj.attachEvent("on" + evt, fn);
    }
}

addEvent(document, 'mouseout', function(evt) {
    if (evt.toElement == null && evt.relatedTarget == null) {
        $('#myModal').modal('show');
    }
});

	function funct() {
    	if ($('.email').is('email') == 1) {
    		alert("Yoyyiyi");
    	};
	}
</script>
-->