// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Rubik';

.header-landing {
	height : 455px;
    color: #fff;
    background-attachment: scroll;
    background-image: image-url('bg-switchiz.jpg');
    background-position: center 50%;
    background-repeat: none;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.prelaunch-footer {
    padding-top: 20px;
}

.header-partage {
	height : 480px;
    color: #fff;
    background-attachment: scroll;
    background-image: image-url('relovution.jpg');
    background-position: center 50%;
    background-repeat: none;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-partage-text .header-first-text {
	font-size: 20px;
    padding-top: 10px;
}

.header-partage-text .header-next-text {
    font-size: 30px;
}

.header-landing-text {
	padding-top: 80px;
}

.logo-prelaunch {
	margin-top: 60px;
	float: center;
}

.section-landing {
padding : 0px;
text-align: center;
}

.section-landing h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

.btn-primary {
    background-color: #52a7bf; /* light blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.champ {
	height: 52px;
    padding-top: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.champ-partage {
	height: 35px;
	width: 285px;
    padding-top: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    opacity : 0.5;
}

@media(min-width:768px) {
    
    .giftbar {
    width: 275px;
    height: 5px;
    margin: 20px 20px 20px 50px;
    background-color: #52a7bf;
    }

	.header-landing {
		height : 475px;
	    color: #fff;
	    background-attachment: scroll;
	    background-image: image-url('bg-switchiz.jpg');
	    background-position: center 60%;
	    background-repeat: none;
	    z-index: -1;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}

	.header-landing-text {
		//font-size: 50px;
		padding-top: 125px;
	}

	.logo-prelaunch {
		margin-top: 80px;
		float: center;
	}

	.logo-prelaunch-bis {
		margin-top: 30px;
		float: center;
	}

    .header-landing .header-first-text {
    font-size: 45px;
    }
    .header-landing .header-next-text {
    }
}