<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-default" role="navigation">
	<div class="container-fluid">
    	<div class="navbar-header">
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
    		</button>
            <% if user_signed_in? %>
                <%= link_to "Switchiz", dashboards_home_path, :class => "navbar-brand" %>
            <% else %>
                <%= link_to "Switchiz", root_path, :class => "navbar-brand" %>
            <% end %>
    		
    	</div>

    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav navbar-right">
        		<% if user_signed_in? %>
                    <li class="active"><a href="#">Réparer mon smartphone</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Mes Box</a></li>
                          <li><a href="#">Mon Smartphone</a></li>
                          <li><a href="#">Mon Compte</a></li>
                          <li class="divider"></li>
                          <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
                        </ul>
                    </li>
                <% else %>
                    <li><%= link_to "Se connecter", root_path %></li>
                <% end %>
    		</ul>
    	</div>
	</div>
</nav>